@model Odishadtet.DAL.college_subject_mapping

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LearnEnggAdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>college_subject_mapping</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.university_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.university_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rule_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rule_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.map_year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.map_year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.semester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_on)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_on)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active_duration_days)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active_duration_days)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active_duration_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active_duration_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_license)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_license)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.college_master.college_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.college_master.college_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subject_master.subject_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subject_master.subject_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.department_master.department_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department_master.department_code)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
