
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnEngg Portal</title>

    @Styles.Render("~/Content/cssAdminLayout")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/JSAdminLayout")
    @RenderSection("scripts", required: false)

    @*<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>*@
    <link rel="icon" href="../favicon.ico" sizes="16x16" type="image/png">


</head>


<body id="one-page-home" class="page  page-template-default custom-background waves-pagebuilder menu-fixed header-logo_left theme-full">
    @{

        int cookieUserIdUserMaster = 0;
        string cookieUserIdUserEmailId = "";
        long cookieUserIdUserMobileNo = 0;
        int cookieUniversityid = 0;
        string cookieUserName = "";
        string cookieUserImage = "";
        string cookieserverdate = "";
        string roledescription = "";
        int roleid = 0;
        string mapuniv = "";
        string collegeID = "";
        string rolelevel = "";
        if (HttpContext.Current.Session["LoginUserID"] != null)
        {
            cookieUserIdUserMaster = Convert.ToInt32(HttpContext.Current.Session["LoginUserID"]);
            cookieUserIdUserEmailId = HttpContext.Current.Session["loginUserEmailID"].ToString();
            cookieUserIdUserMobileNo = Convert.ToInt64(HttpContext.Current.Session["loginUserMobileNumber"]);
            cookieUniversityid = Convert.ToInt32(HttpContext.Current.Session["loginUniversityID"]);
            cookieUserName = HttpContext.Current.Session["loginUserFullName"].ToString();
            cookieUserImage = HttpContext.Current.Session["ProfileImage"].ToString();
            cookieserverdate = HttpContext.Current.Session["ServerDate"].ToString();
            roleid = Convert.ToInt32(HttpContext.Current.Session["loginUserRoleID"]);
            roledescription = HttpContext.Current.Session["loginUserRoledescription"].ToString();
            mapuniv = HttpContext.Current.Session["MappedUniversities"].ToString();
            rolelevel = HttpContext.Current.Session["RoleLevel"].ToString();

        }
    }

    @Html.Hidden("sessionUniversityId", cookieUniversityid)
    @Html.Hidden("sessionUserId", cookieUserIdUserMaster)
    @Html.Hidden("sessionEmailID", cookieUserIdUserEmailId)
    @Html.Hidden("sessionMobileNumber", cookieUserIdUserMobileNo)
    @Html.Hidden("sessionUserName", cookieUserName)
    @Html.Hidden("sessionUserImage", cookieUserImage)
    @Html.Hidden("sessionserverdate", cookieserverdate)
    @Html.Hidden("sessionroleId", roleid)
    @Html.Hidden("sessionroledescription", roledescription)
    @Html.Hidden("sessionMappedUniv", mapuniv)
    @Html.Hidden("sessionrolelevel", rolelevel)
    @Html.Hidden("sessioncollegeID", collegeID)

    <style type="text/css">
        .clocktime {
            padding-left: 10px;
        }

        .user_info {
            z-index: 150;
            position: absolute;
            display: none;
            top: 33px;
            width: auto;
            background: #ffffff;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
            border: 1px solid #dae0e8;
            border-bottom: 5px solid #5CCDDE;
            right: 90px;
            border-top: 0px;
        }

            .user_info:after {
                border-color: transparent transparent #fff;
                border-style: solid;
                border-width: 7px;
                clear: both;
                content: "";
                display: block;
                right: 15px;
                margin-left: -7px;
                position: absolute;
                top: -14px;
            }

            .user_info li {
                display: block;
            }

                .user_info li a {
                    display: block;
                    padding: 10px;
                    color: #454e59;
                }

                    .user_info li a:hover {
                        background: #5CCDDE;
                        color: #ffffff;
                    }



        table.scroll tbody,
        table.scroll thead {
            display: block;
        }

        thead tr th {
            /*height: 100px;*/
            line-height: 30px;
            /* text-align: left; */
        }

        table.scroll tbody {
            height: 235px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .user_info_new {
            z-index: 150;
            position: absolute;
            display: none;
            top: 25px;
            width: 175px;
            text-align: left;
            background: #ffffff;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
            border: 1px solid #dae0e8;
            border-bottom: 5px solid #5CCDDE;
            right: 0px;
            border-top: 0px;
        }

            .user_info_new:after {
                border-color: transparent transparent #fff;
                border-style: solid;
                border-width: 7px;
                clear: both;
                content: "";
                display: block;
                right: 12px;
                margin-left: -7px;
                position: absolute;
                top: -14px;
            }

            .user_info_new li {
                display: block;
            }

                .user_info_new li a {
                    display: block;
                    padding: 10px;
                    color: #454e59;
                }

                    .user_info_new li a:hover {
                        background: #5CCDDE;
                        color: #ffffff;
                    }

        .user_info_master {
            z-index: 150;
            position: absolute;
            display: none;
            top: 33px;
            width: auto;
            background: #ffffff;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
            border: 1px solid #dae0e8;
            border-bottom: 5px solid #5CCDDE;
            right: 68px;
            border-top: 0px;
        }

            .user_info_master:after {
                border-color: transparent transparent #fff;
                border-style: solid;
                border-width: 7px;
                clear: both;
                content: "";
                display: block;
                right: 15px;
                margin-left: -7px;
                position: absolute;
                top: -14px;
            }

            .user_info_master li {
                display: block;
            }

                .user_info_master li a {
                    display: block;
                    padding: 10px;
                    color: #454e59;
                }

                    .user_info_master li a:hover {
                        background: #5CCDDE;
                        color: #ffffff;
                    }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {

            //$(document).click(function (e) {

            //    var container = $(".user_info");
            //    var container2 = $(".user_info_new");
            //    var container3 = $(".user_info_master");

            //    // if the target of the click isn't the container nor a descendant of the container
            //    if (!container.is(e.target) && container.has(e.target).length == 0 && !container2.is(e.target) && container2.has(e.target).length == 0 && !container3.is(e.target) && container3.has(e.target).length == 0) {
            //        event.stopPropagation();
            //        container.slideToggle("fast");
            //        container2.slideToggle("fast");
            //        container3.slideToggle("fast");
                    
            //    }
            //});

          

            $('.img_user').click(function () {
                $('.user_info').slideToggle("slow");
                $('.user_info_new').slideUp("slow");
                $('.user_info_master').slideUp("slow");
            });

          

            $('.img_user_new').click(function () {
                $('.user_info').slideUp("fast");
                $('.user_info_master').slideUp("fast");
                $('.user_info_new').slideToggle("fast");
            });

            $('.img_user_master').click(function () {
                $('.user_info').slideUp("fast");
                $('.user_info_new').slideUp("fast");
                $('.user_info_master').slideToggle("fast");
            });
            if ($("#sessionroleId").val() == "13") {
                $("#KeltronRpt").hide();
                $("#KeltronMaster").hide();
            }



            var userID = '@Session["loginUserID"]';
            if (userID == "") {
                window.location.href = "../Home/Index";
            }
            if ($("#sessionUserImage").val() != "") {
                d = new Date();
                $("#loginuserimage").attr("src", "../Content/img/ProfileImg/" + $("#sessionUserImage").val() + "?" + d.getTime());
                $("#UserProfileCroppedImg").attr("src", "../Content/img/ProfileImg/" + $("#sessionUserImage").val() + "?" + d.getTime());
            }

            $("#login-username").text($("#sessionUserName").val());
            $("#login-email").text($("#sessionEmailID").val());



            if ($("#sessionrolelevel").val() != "1") {
                $('#Topmenus').remove();
            }

        });

    </script>
    <div class="wrapper">
        <header class="header_bg">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">

                <div class="logo"><a href="@Url.Action("index", "Home")" class="logo1"><img alt="Learn Engg" src="../../content/img/Learn2.png?V2" class="logo-img" style="height: 40px; margin-top:-14px"></a></div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 clock-media">
                <span class="" id="clock1" style="color:white"></span>
            </div>

            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div style="float: right; margin:0; padding:0;">
                    <ul style="list-style:none; margin:0; padding:0;  float: right;">
                        <li style="float:left; list-style:none">
                            <div class="notif_cnt-color" id="btnLogout" style="cursor:pointer;color:#fff;"> <i class="fa fa-sign-out"></i>LogOut</div>
                        </li>
                    </ul>
                </div>
                <div id="Topmenus">
                    <ul style="list-style:none; margin:0; padding:0;  float: right;">
                        <li style="float:left; list-style:none;">
                            <span class="img_user_new notif_cnt-color" style="cursor:pointer;color:#fff">
                                <i class="fa fa-line-chart">&nbsp;</i>Dashboard <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </li>
                        <li style="float:left; list-style:none;cursor:pointer">
                            <div class="notif_cnt-color ">
                                <nav class="user_info_new">
                                    <ul>
                                        @*<li><a href="../AdminProcess/AdminDashBoard">Admin DashBoard</a> </li>
                                        <li><a href="../AdminProcess/RegistrationDashBoard">Registration DashBoard</a> </li>
                                        <li ><a href="../AdminProcess/UsageDashBoard">Usage DashBoard</a> </li>*@
                                        <li><a href="../AdminDashBoard/DashBoardMain"> DashBoard Main </a> </li>
                                        <li><a href="../AdminDashBoard/RegistrationDashBoard">Registration DashBoard </a> </li>
                                        <li><a href="../AdminDashBoard/UsageDashBoard">Usage DashBoard </a> </li>
                                        @*<li><a href="../AdminDashBoard/ITIUsageReport">Usage Reports New</a> </li>*@
                                    </ul>
                                </nav>
                            </div>

                        </li>
                        <li style="float:left; list-style:none">
                            <span class="img_user notif_cnt-color" style="cursor:pointer;color:#fff">
                                <i class="fa fa-file-text-o">&nbsp;</i>Report <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </li>
                        <li style="float:left; list-style:none;cursor:pointer">
                            <div class="user_block">
                                <nav class="user_info">
                                    <ul>
                                        <li><a href="../AdminProcess/StudentRegistrationHistorys">Registration Report</a> </li>
                                        <li><a href="../AdminProcess/UsersReadHistory">Usage Details Report</a> </li>
                                        <li><a href="../AdminProcess/UsersSummaryReadHistory">Usage Summary Report</a> </li>
                                    </ul>
                                </nav>
                            </div>
                        </li>

                        @{
                            if (cookieUserIdUserEmailId.Equals("karthikeyan.rk@infoplus.co.in")) {

                        <li style="float:left; list-style:none" id="KeltronMaster">
                            <span class="img_user_master notif_cnt-color" style="cursor:pointer;color:#fff">
                                <i class="fa fa-file-text-o">&nbsp;</i>Master <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </li>
                        <li style="float:left; list-style:none;cursor:pointer">
                            <div class="user_block">
                                <nav class="user_info_master">
                                    <ul>
                                        <li><a href="../college_master/Index">Institute</a> </li>
                                    </ul>
                                </nav>
                            </div>
                        </li>
                                }
                            }
                    </ul>
                </div>
            </div>

        </header>
    </div>
    <section class="container-fluid">
        <div class="row">

            @RenderBody()

        </div>
        <section class="mid_warp ">
            <div class="container-fluid">
                <div class="container loaderdisplay">

                </div>
            </div>
        </section>

    </section>

    <footer class="page-footer">
        <!-- Start Container -->
        <div class="ft_ltf_wap">
            <div class="col-md-12 col-xs-12 copyright">
                Powered by Infoplus Technologies Pvt. Ltd (Version: <b id="LatestVersion">4.0.0</b>)
            </div>
        </div>
        <!-- End Container -->
    </footer>
</body>
</html>

<script>
    $(document).ready(function () {

    });


    // JavaScript Document
    (function ($) {
        $.fn.countTo = function (options) {
            // merge the default plugin settings with the custom options
            options = $.extend({}, $.fn.countTo.defaults, options || {});

            // how many times to update the value, and how much to increment the value on each update
            var loops = Math.ceil(options.speed / options.refreshInterval),
                increment = (options.to - options.from) / loops;

            return $(this).each(function () {
                var _this = this,
                    loopCount = 0,
                    value = options.from,
                    interval = setInterval(updateTimer, options.refreshInterval);

                function updateTimer() {
                    value += increment;

                    loopCount++;
                    $(_this).html(value.toFixed(options.decimals));

                    if (typeof (options.onUpdate) == 'function') {
                        options.onUpdate.call(_this, value);
                    }

                    if (loopCount >= loops) {
                        clearInterval(interval);
                        value = options.to;

                        if (typeof (options.onComplete) == 'function') {
                            options.onComplete.call(_this, value);
                        }
                    }
                }
            });
        };

        $.fn.countTo.defaults = {
            from: 0,  // the number the element should start at
            to: 100,  // the number the element should end at
            speed: 1000,  // how long it should take to count between the target numbers
            refreshInterval: 100,  // how often the element should be updated
            decimals: 0,  // the number of decimal places to show
            onUpdate: null,  // callback method for every time the element is updated,
            onComplete: null,  // callback method for when the element finishes updating
        };
    })(jQuery);




</script>

