
@{
    ViewBag.Title = "StudentRegistrationHistorysTest";
    Layout = "~/Views/Shared/_LearnEnggAdminLayout.cshtml";
}

<style>
    .btn-group button b {
        bottom: 0;
        display: inline-block;
        left: 44.5% !important;
        position: fixed;
        top: 35.5% !important;
    }

    .fl_in_det li input {
        border: 1px solid #000;
        border-radius: 0 !important;
        margin: 0 20px 0 0 !important;
        width: 100% !important;
    }

    .ui-datepicker {
        display: none;
        padding: 0.2em 0.2em 0;
        width: 18em !important;
    }

    .modal-dialog.custom_pop_3 {
        width: 900px !important;
    }
</style>
<script type="text/javascript" src="~/Scripts/Admin/jquery.studentreportTest.js"></script>
<script type="text/javascript" src="~/Scripts/Admin/StudentUniversityReportTest.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $('#dwnreport').click(function () {
            var w = 600, h = 500;
            wLeft = window.screenLeft ? window.screenLeft : window.screenX;
            wTop = window.screenTop ? window.screenTop : window.screenY;
            var left = wLeft + (window.innerWidth / 2) - (w / 2);
            var top = wTop + (window.innerHeight / 2) - (h / 2);

            var winOptions = 'width=' + w + ',height=' + h + ',resizable=no,menubar=no,status=no,toolbar=no,scrollbars=no,location=0, directories=0,dependant=yes,dialog=yes,modal=yes,unadorned=yes,top=' + top + ',left=' + left;
            newwin = window.open("../AdminProcess/DownloadReports", 'Report Download', winOptions);
        });

    });
</script>
<section class="inner_mid_wrp-main">
    <article class="col-sm-12">
        <div class="in_hd_tt row">
            <strong class="fa fa-file-text"></strong><span>Test Registration History</span>
        </div>
    </article>
    <article class="col-sm-12">
        <section class="sub_wrp row ">
            <div class="loader">
                <center>
                    <img src="~/Content/img/pre_loader.gif" />
                </center>
            </div>

            <table id="tblMasterMain" class="table table-striped table-bordered" cellspacing="0" width="98%">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th>
                            S.No
                        </th>

                        <th>
                            Total Test Registered ITI
                        </th>

                        <th>
                            Total Test Registered Desktops
                        </th>

                        @*<th>
                            Total Registered Instructors
                        </th>*@
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </section>
        <section class="sub_wrp row">
            <table id="tblMaster" class="table table-striped table-bordered" cellspacing="0" width="99%">
                <thead>
                    <tr>
                        <th style="width:5%;">
                            S.No
                        </th>
                        <th id="colName" style="width:35%;">
                            ITI Name
                        </th>
                        <th id="colName" style="width:35%;">
                            Registration on
                        </th>
                        <th id="colName" style="width:20%;">
                            No.Of Registered Desktops
                        </th>
                        @*<th id="colName" style="width:20%;">
                            No.Of Registered Trades
                        </th>
                        <th style="width:20%;">
                            No.Of Registered Instructors
                        </th>*@

                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </section>
    </article>
</section>
@*    <ul>
          <li>
    <input type="button" id="btnStudent" value="Export Student Report" />
        <input type="button" id="btnStaff" value="Export Staff Report" />
          </li>
          </ul>*@
<div>
    @Html.Hidden("WebServiceUrl", @System.Configuration.ConfigurationManager.AppSettings["localhost"])
    @Html.Hidden("WebServiceUrlKtu", @System.Configuration.ConfigurationManager.AppSettings["localhostKtu"])
    @Html.Hidden("WebServiceUrlVtu", @System.Configuration.ConfigurationManager.AppSettings["localhostvtu"])
    @Html.Hidden("WebServiceUrl_NU", @System.Configuration.ConfigurationManager.AppSettings["localhostnu"])
</div>
<div class="modal fade" id="UniversityModel" role="dialog">
    <div class="modal-dialog custom_pop custom_pop_3">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    x
                </button>
                <h4 id="DynamicUniversityName" class="pop_hed"></h4>
            </div>
            <div class="modal-body">
                <section class="pop_head full_width">
                    <div class="down_panel" id="UniversityDetails">
                        <div class="loader">
                            <center>
                                <img src="~/Content/img/pre_loader.gif" />
                            </center>
                        </div>
                        <table id="tblChildUniv" class="table table-striped table-bordered" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        S.No
                                    </th>

                                    <th>
                                        InstructorName
                                    </th>
                                    @*<th >
                                            E-Mail
                                        </th>
                                         <th >
                                            Mobile
                                        </th>*@
                                    <th>
                                        Registered On
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="subjectModel" role="dialog">
    <div class="modal-dialog custom_pop custom_pop_3">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    ×
                </button>
                <h4 id="DynamicCollegeName" class="pop_hed"></h4>
            </div>
            <div class="modal-body pop_pdng_wrp ">
                <section class="pop_head full_width ">
                    <div class="down_panel" id="SubjectUnitDetails">
                        <table id="tblChild" class="table table-striped table-bordered wd_tb" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        S.No
                                    </th>
                                    <th>
                                        Name
                                    </th>

                                    <th>
                                        Registered On
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>



