
@{
    ViewBag.Title = "StudentRegistrationHistorys";
    Layout = "~/Views/Shared/_LearnEnggAdminLayout.cshtml";
}

<style>
    .btn-group button b {
        bottom: 0;
        display: inline-block;
        left: 44.5% !important;
        position: fixed;
        top: 35.5% !important;
    }

    .fl_in_det li input {
        border: 1px solid #000;
        border-radius: 0 !important;
        margin: 0 20px 0 0 !important;
        width: 100% !important;
    }

    .ui-datepicker {
        display: none;
        padding: 0.2em 0.2em 0;
        width: 18em !important;
    }
    .modal-dialog.custom_pop_3{
        width:900px !important
    }
    select {
        border: 1px solid #c8c8c8;
        border-radius: 0 !important;
        margin: 1px 20px 2px 0 !important;
        padding: 10px 89px 8px 5px;
        font-style: normal;
        font-weight: normal;
    }

    .fl_in_det li input {
        border: 1px solid #c8c8c8;
    }

    .big_inp button b {
        bottom: 0;
        display: inline-block;
        left: 95% !important;
        position: fixed;
        top: 128px;
    }

    #ddlreport {
        -moz-appearance: none;
        background: rgba(0, 0, 0, 0) url("../Content/img/v1.png") no-repeat scroll right center;
        border: 1px solid #000;
        border-radius: 0 !important;
        padding: 7px 12px;
    }

    .modal-dialog.custom_pop_3 {
        width: 900px !important;
    }

    #tblTotalhrsHistry_filter, #tblUsrSubject_filter label {
        padding: 0 18px;
    }


    /* radio style */


    /* Customize the label (the container) */
    .container-radio {
        display: inline-block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 0px;
        cursor: pointer;
        font-size: 18px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default radio button */
        .container-radio input {
            position: absolute;
            opacity: 0;
        }

    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .container-radio:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .container-radio input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .container-radio input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .container-radio .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    } 
</style>
<script type="text/javascript" src="~/Scripts/Admin/jquery.studentreport.js"></script>
<script type="text/javascript" src="~/Scripts/Admin/StudentUniversityReport.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        var DefaultStartDate = "0";
        var DefaultEndDate = "0";
        var regTypeID = 1;
        var deptID = 0;

        $('.tradefirst').show();
        $('.itifirst').hide();

        $('#dwnreport').click(function () {
            var w = 600, h = 500;
            wLeft = window.screenLeft ? window.screenLeft : window.screenX;
            wTop = window.screenTop ? window.screenTop : window.screenY;
            var left = wLeft + (window.innerWidth / 2) - (w / 2);
            var top = wTop + (window.innerHeight / 2) - (h / 2);

            var winOptions = 'width=' + w + ',height=' + h + ',resizable=no,menubar=no,status=no,toolbar=no,scrollbars=no,location=0, directories=0,dependant=yes,dialog=yes,modal=yes,unadorned=yes,top=' + top + ',left=' + left;
            newwin = window.open("../AdminProcess/DownloadReports", 'Report Download', winOptions);
        });

        $("#StartDate").datepicker({ dateFormat: 'dd-mm-yy' });
        $("#EndDate").datepicker({ dateFormat: 'dd-mm-yy' });

        $.ajax({
            type: 'Get',
            datatype: 'json',
            url: "/APIService/APIAdminActivity/GetDepartmentListActivitionextenddays?univId=1&collegeId=0",
            success: function (data) {
                var items = "";
                $.each(data, function (i, val) {
                    $("#TradeName").append($("<option value=" + val.DepartmentId + "></option>").text(val.DepartmentName).val(val.DepartmentId));
                });
            }
        });


        $("input[type=radio]").change(function () {

            if (this.value > 1) {

                $('.itifirst').show();
                $('.tradefirst').hide();

                var serURL = "/APIService/APIAdminActivity/GetColleges?departmentID=0";
                $("#ITIName1").empty().append($("#ITIName1").html('<option value="0">--Select ITI Name --</option>'));

                $.ajax({
                    type: 'Get',
                    datatype: 'json',
                    url: serURL,
                    success: function (data) {
                        var items = "";
                        $.each(data, function (i, val) {
                            $("#ITIName1").append($("<option>" + val.college_Id + "</option>").text(val.college_Name).val(val.college_Id));
                        });
                    }
                });

            } else {

                $('.tradefirst').show();
                $('.itifirst').hide();

                $("#TradeName").empty().append($("#TradeName").html('<option value="0">--Select Trade Name --</option>'));

                $.ajax({
                    type: 'Get',
                    datatype: 'json',
                    url: "/APIService/APIAdminActivity/GetDepartmentListActivitionextenddays?univId=1&collegeId=0",
                    success: function (data) {
                        var items = "";
                        $.each(data, function (i, val) {
                            $("#TradeName").append($("<option value=" + val.DepartmentId + "></option>").text(val.DepartmentName).val(val.DepartmentId));
                        });
                    }
                });
            }
            //  }

        });


        $("#TradeName").change(function () {

            deptID = $("#TradeName").val();
           
            $("#ITIName").empty().append($("#ITIName").html('<option value="0">--Select ITI Name --</option>'));

            $.ajax({
                type: 'Get',
                datatype: 'json',
                url: "/APIService/APIAdminActivity/GetColleges?departmentID=" + deptID,
                success: function (data) {
                    var items = "";
                    $.each(data, function (i, val) {
                        $("#ITIName").append($("<option>" + val.college_Id + "</option>").text(val.college_Name).val(val.college_Id));
                    });
                }
            });            

        });



        $("#ITIName1").change(function () {
           
            collegeID = $("#ITIName1").val();          

            $("#TradeName2").empty().append($("#TradeName2").html('<option value="0">--Select Trade Name --</option>'));

            $.ajax({
                type: 'Get',
                datatype: 'json',
                url: "/APIService/APIAdminActivity/GetDepartmentListActivitionextenddays?univId=1&collegeId=" + collegeID,
                success: function (data) {
                    var items = "";
                    $.each(data, function (i, val) {
                        $("#TradeName2").append($("<option value=" + val.DepartmentId + "></option>").text(val.DepartmentName).val(val.DepartmentId));
                    });
                }
            });


        });

        


        $("#Reset").click(function () {

            $("#StartDate").val() = "";
            $("#EndDate").val() = "";

            $("#TradeName").empty().append($("#TradeName").html('<option value="0">--Select Trade Name --</option>'));
            $("#TradeName2").empty().append($("#TradeName2").html('<option value="0">--Select Trade Name --</option>'));
        
            $("#ITIName").empty().append($("#ITIName").html('<option value="0">--Select ITI Name --</option>'));
            $("#ITIName1").empty().append($("#ITIName1").html('<option value="0">--Select ITI Name --</option>'));

            $('#tblMasterMain tbody').empty();
            $('#tblMaster tbody').empty();

        });

        $("#searchUsage").click(function () {

            if ($("#StartDate").val() != "") {
                DefaultStartDate = $("#StartDate").val();
            }

            if ($("#EndDate").val() != "") {
                DefaultEndDate = $("#EndDate").val();
            }           

            deptID = $("#TradeName").val();
            collegeID = $("#ITIName1").val();          

            $('#tblMasterMain tbody').empty();
            $('#tblMaster tbody').empty();

            showUnivData(deptID, collegeID, DefaultStartDate, DefaultEndDate, regTypeID);
            showDatachk(deptID, collegeID, DefaultStartDate, DefaultEndDate, regTypeID);
        });
        
    });
</script>
<section class="inner_mid_wrp-main">
    <article class="col-sm-12">
        <div class="in_hd_tt row">
            <strong class="fa fa-file-text"></strong><span>Registration History</span>
        </div>
    </article>
    <article class="col-sm-12">
        <section class="sub_wrp row"> 
            <div class="col-sm-3">
                &nbsp;
            </div>
            <div class="col-sm-8 w3-col s4" style="float: right; text-align: right;">
                <p style="display:inline-block; font-size:22px; margin-right:15px;"> <strong> Filter by </strong> </p>
                <label class="container-radio" style="margin-right:10px;">
                    TradeWise ITI
                    <input type="radio" name="Filterby" checked="checked" value="1">
                    <span class="checkmark"></span>
                </label>

                <label class="container-radio">
                    ITIWise Trade
                    <input type="radio" name="Filterby" value="2">
                    <span class="checkmark"></span>
                </label>

                @*<input type="radio" class="radioBtnClass" name="Filterby" value="1" />
            <label class="checkcontainer">TradeWise ITI </label> <br />
            <input type="radio" class="radioBtnClass" name="Filterby" value="2" />
            <label class="checkcontainer">ITIWise Trade </label> <br />*@
            </div>

        </section>
    </article>
    <article class="col-sm-12">
        <section class="sub_wrp row">
            <table id="tblWeeklyWise" class="table table-striped table-bordered" cellspacing="0">
                <thead>                   
                    <tr class="tradefirst">
                        <th>
                            Trade Name
                        </th>
                        <th>
                            <select name="TradeName" id="TradeName">
                                <option value="0">Select Trade Name</option>
                            </select>
                        </th>
                        <th>
                            ITI Name
                        </th>
                        <th>
                            <select name="ITIName" id="ITIName">
                                <option value="0">Select ITI Name </option>
                            </select>
                        </th>
                    </tr>
                    <tr class="itifirst">
                        <th>
                            ITI Name
                        </th>
                        <th>
                            <select name="ITIName1" id="ITIName1">
                                <option value="0">Select ITI Name </option>
                            </select>
                        </th>

                        <th>
                            Trade Name
                        </th>

                        <th>
                            <select name="TradeName2" id="TradeName2">
                                <option value="0">Select Trade Name</option>
                            </select>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            Registration StartDate
                        </th>

                        <th>
                            <ul class="fl_in_det">
                                <li class="date_p">
                                    <input align="left" type="text" id="StartDate" placeholder="Start Date" readonly="readonly"
                                           title="start date should be lesser than end date" />
                               &nbsp;
                                    <input align="left" type="text" id="EndDate" placeholder="End Date" readonly="readonly"
                                           title="End date should be greater than start date" />
                                </li>
                            </ul>
                        </th>

                        <th colspan="2">
                            <input type="button" class="btn" value="Submit" id="searchUsage" />
                            <input type="button" class="btn" value="Reset" id="Reset" />
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </section>
        <section class="sub_wrp row ">
            <div class="loader">
                <center>
                    <img src="~/Content/img/pre_loader.gif" />
                </center>
            </div>

            <table id="tblMasterMain" class="table table-striped table-bordered" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th>
                            S.No
                        </th>

                        <th>
                            Total Content Registered ITI 
                        </th>
                       
                        <th>
                            Total Content Registered Desktops
                        </th>

                        <th>
                            Total Content Registered Instructors
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </section>
        <section class="sub_wrp row">
            <table id="tblMaster" class="table table-striped table-bordered" cellspacing="0">
                <thead>
                    <tr>
                        <th style="width:4%;">
                            S.No
                        </th>
                        <th id="colName" style="width:40%;">
                            ITI Name
                        </th>
                        <th id="colName" style="width:16%;">
                            Registration on 
                        </th>
                        <th id="colName" style="width:20%;">
                            Content Registered Desktops
                        </th>
                        <th id="colName" style="width:20%;">
                            Content Registered Trades
                        </th>
                        @*<th style="width:30%;">
                            Content Registered Instructors
                        </th>*@

                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </section>
    </article>
</section>
@*    <ul>
          <li>
    <input type="button" id="btnStudent" value="Export Student Report" />
        <input type="button" id="btnStaff" value="Export Staff Report" />
          </li>
          </ul>*@
<div>
    @Html.Hidden("WebServiceUrl", @System.Configuration.ConfigurationManager.AppSettings["localhost"])
    @Html.Hidden("WebServiceUrlKtu", @System.Configuration.ConfigurationManager.AppSettings["localhostKtu"])
    @Html.Hidden("WebServiceUrlVtu", @System.Configuration.ConfigurationManager.AppSettings["localhostvtu"])
    @Html.Hidden("WebServiceUrl_NU", @System.Configuration.ConfigurationManager.AppSettings["localhostnu"])
</div>
<div class="modal fade" id="UniversityModel" role="dialog">
    <div class="modal-dialog custom_pop custom_pop_3">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    x
                </button>
                <h4 id="DynamicUniversityName" class="pop_hed"></h4>
            </div>
            <div class="modal-body">
                <section class="pop_head full_width">
                    <div class="down_panel" id="UniversityDetails">
                        <div class="loader">
                            <center>
                                <img src="~/Content/img/pre_loader.gif" />
                            </center>
                        </div>
                        <table id="tblChildUniv" class="table table-striped table-bordered" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        S.No
                                    </th>
                                    
                                    <th>
                                        InstructorName
                                    </th>
                                    @*<th >
                                            E-Mail
                                        </th>
                                         <th >
                                            Mobile
                                        </th>*@
                                    <th>
                                        Registered On
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="subjectModel" role="dialog">
    <div class="modal-dialog custom_pop custom_pop_3">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    ×
                </button>
                <h4 id="DynamicCollegeName" class="pop_hed"></h4>
            </div>
            <div class="modal-body pop_pdng_wrp ">
                <section class="pop_head full_width ">
                    <div class="down_panel" id="SubjectUnitDetails">
                        <table id="tblChild" class="table table-striped table-bordered wd_tb" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        S.No
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                 
                                    <th>
                                        Registered On
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>



