@model Odishadtet.Models.singlePackagedetails

@{
    ViewBag.Title = "AdminProductDetails";
    Layout = "~/Views/Shared/_LearnEnggLayout.cshtml";

}
<style type="text/css">
    .btn {
        -moz-user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857;
        margin: 8px 8px 0 0;
        padding: 6px 12px;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
    }
</style>


@section deliverymode{
    <div class="col-md-12 hd_til_txt">
        <div class="col-md-1 univ_img">
            <img class="img-responsive" src="../LE/img/university1.png">
        </div>
        <div class="col-md-11" style="width: 94%;">
            <div class="row">
                <div class="col-md-12">
                    <span id="headerText"></span>
                </div>
                <div class="col-md-12">
                    <p class="run_txt-cl">Content developed as per University Regulation&nbsp;&nbsp; | &nbsp;&nbsp;Displayed price is for one device (Windows/Android)&nbsp;&nbsp; |&nbsp;&nbsp; License is valid for <span class="span_txt_cl">"ONE ACADEMIC YEAR"</span> only</p>
                </div>

            </div>
        </div>
    </div>
}


<div class="col-md-9">
    <span class="">
        <h3 style="background: transparent linear-gradient(to right, rgb(83, 182, 215), rgb(249, 249, 249)) repeat scroll 0% 0%;}">
            &nbsp; Subject Details
        </h3>
    </span>
</div>

<div class="col-md-3">
    <a href="#" class="btn_back">
        <span class="fa fa-angle-double-left" aria-hidden="true"></span>
        &nbsp;Back
    </a>
</div>

<div class="book_view col-md-9">
    <article class="book_panel_li book_panel col-sm-12 sub-list" style="border:none; padding-top:0px;">

        <!----- description start ----->
        <div class="col-md-12" style="background-color: #fff; margin-bottom:20px;">
            <div class="table-responsive">
                <table width="100%">
                    <tbody>
                        <tr>
                            <td><strong> Subject Name</strong></td>
                            <td>
                                -&nbsp; @Html.DisplayFor(Model => Model.packageName)
                                &nbsp;for&nbsp;@Html.DisplayFor(Model => Model.departmentName)
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Operating System</strong> </td>
                            <td>-&nbsp; Windows&nbsp;|&nbsp;Q & A App Available In Play Store Also.</td>
                        </tr>
                        <tr>

                            @* <td>-&nbsp;<span id="UniversitySelected"> @Html.DisplayFor(Model => Model.universityName)</span></td>*@
                            @Html.HiddenFor(model => Model.universityId, new { id = "univId" })
                            @Html.HiddenFor(model => Model.universityName, new { id = "UniversitySelected" })
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr style="border:1px solid #8899c4;">
        <div class="col-md-12">
            <h3 class="view">
                <span class="glyphicon glyphicon-file"></span>&nbsp;Quick Overview:&nbsp;&nbsp;&nbsp;

                <a data-toggle="modal" title="Update Quick Overview" href="#modelpopup" id="Editkeywords"  rel=@Model.Contentpacks[0] style="color:#0066c0 !important;text-decoration:none;"><img title="update status" src="../Content/img/edit.png" class="EditIcon" />Edit</a>
            </h3>
            <div class="col-md-12" style="padding-left: 25px;margin-bottom: 15px;">
                <h5 style="margin:0"> </h5>
                <div class="table-responsive">
                    <table style="width:100%;">
                        <tbody>
                            <ul>
                                @if (Model.packageKeyword != null)
                                {
                                    if (Model.packageKeyword.Length > 0)
                                    {
                                        foreach (var strKey in @Model.packageKeyword.Split(','))
                                        {
                                            <li>@strKey</li>
                                        }
                                    }
                                }

                            </ul>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <hr></hr>
        <div class="col-md-6">
            <div class="col-md-12">
                <h3 class="view-des">Sample Product:</h3>
                @if (Model.packageViedeo != "NoVideo")
            {
                    <video style="width:100%;" height="240" controls>
                        <source src="@Html.DisplayFor(Model => Model.packageViedeo)" type="video/mp4" id="Video">

                    </video>
                }
            </div>

        </div>

        <div class="col-md-6 mrg_btm">
            <h3 class="view-des">
                <span class="glyphicon glyphicon-list"></span>&nbsp;Description:&nbsp;&nbsp;&nbsp;
                <a data-toggle="modal" title="Update Description" href="#modelpopup" id="EditDesc" rel=@Model.Contentpacks[0] style="color:#0066c0 !important;text-decoration:none;"><img title="update status" src="../Content/img/edit.png" class="EditIcon" />Edit</a>
            </h3>
            <div class="row">
                <p class="fontp" style="padding-left:27px;">
                    @Html.DisplayFor(Model => Model.packageDesc)
                </p>
            </div>
            <br />
            @if (Model.packageDescfull != "NoBundleFile")
            {
                <h3 class="view-des">
                    <span class="glyphicon glyphicon-list"></span>&nbsp;Detailed Syllabus
                </h3>
                <div class="row">
                    <p class="fontp" style="padding-left:27px;">
                        Click here to download the detailed syllabus.
                        <a href="#" id="idSyllabus" rel="@Html.DisplayFor(Model => Model.packageDescfull)"><i class="fa fa-file-pdf-o" style="font-size:25px; color:#2487c0;" aria-hidden="true"></i></a>
                    </p>
                </div>
            }
        </div>

        <div class="row">
            <hr style="border:1px solid #8899c4;">
            <div class="col-md-12">
                <h3 class="view"><span class="glyphicon glyphicon-file"></span>&nbsp;Q & A App:</h3>

                <div class="col-md-12" style="padding-left: 25px;margin-bottom: 30px;">
                    <h5 style="margin:0"> </h5>
                    <div class="table-responsive">

                        <p class="fontp" style="">
                            Q & A App contains important Questions and Answers for every chapter/unit. The Questions have been selected from previous year University Question papers and technical importance of the content. Our Experience in last FIVE Semesters has proved that Q & A app has provided greatest opportunity for scoring high & Simply, made pass mark easy to achieve.

                            Questions and  Answers are arranged Unit- wise & Answered in point by point method with 2D/3D demonstrations (limited).
                        </p>

                    </div>
                </div>

            </div>

        </div>




        <!------- descrption end---->

    </article>
</div>

<div class="col-md-3" style="padding:0px; border:2px solid #2574AB;margin-bottom:140px;">

    @if (Model.trialpackage != "NoBundleFile")
    {
        <div class="col-md-10 col-xs-10">
            <h4 style="margin-top:15px;">Download Trial</h4>
        </div>
        <div class="col-md-2 col-xs-2" style="padding:15px;">
            <a id="trialdwnload" href="#" rel="@(Model.trialpackage)~@(Model.Contentpacks[0])">
                <img src="~/Content/img/dwnld.png" />
            </a>
        </div>

    }
    <hr style="margin:0px;  border:1px solid #2574AB;">
    <div class="col-md-12 col-xs-12">
        <h4 style="margin-top:15px;">Buy</h4>
    </div>

    <div class="col-md-6 col-xs-6">
        Content Product &nbsp;
        @if (Model.Contentpacks != null)
        {
            if (Model.Contentpacks.Count > 0)
            {
                @*<a href="@Url.Action("buy",new { value=Model.Contentpacks[0] ,@class="AddtoCart"})">Buy</a>
                    <a href="@Html.DisplayFor(value => Model.Contentpacks[0])" class="AddtoCart">BUY</a>
                    <a href="@Url.Action("productHomeDetail", "productDetailes" , new { value = Model.Contentpacks[0] ,@class= "AddtoCart"  })">link text</a>*@
                @*<a href="/productHomeDetail/productDetailes"  new { PackageId = Model.Contentpacks[0] } class="AddtoCart">
                       Buy
                    </a>*@

                @*@Html.ActionLink("View", "UserDashBoard", new { PackageId = Model.Contentpacks[0], UserId=@HttpContext.Current.Session["loginUserID"].ToString()}, new { @class = "AddtoCart" });*@
                @*@Html.ActionLink("Details", "Getinsertpackageusercarts", "APIUserDashBoard", new { PackageId = Model.Contentpacks[0] }, new { @class = "AddtoCart pack-" + Model.Contentpacks[0] })*@

                @*@Ajax.ActionLink("Customer from Mexico", // <-- Text to display
                     "InsertPackageToUserCart",
                     // <-- Action Method Name
                     new { PackageId = Model.Contentpacks[0] },
                     new AjaxOptions
                     {
                         UpdateTargetId = "CustomerList", // <-- DOM element ID to update
                         InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                         HttpMethod = "GET" // <-- HTTP method
                     })

                    <div id="CustomerList" class="AddtoCart pack-"></div>*@

                //< a href = "@Url.Action("productDetailes", "productHomeDetail", new { id = Model.Contentpacks[0] })" > ex
                //   </a >
                @*@Ajax.ActionLink("View", "productDetailes", new { PackageId = Model.Contentpacks[0] }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "AddtoCart", InsertionMode = InsertionMode.Replace })*@
                @*@Html.ActionLink("Buy", "productEdtail", "productDetailes", new { value = Model.Contentpacks[0], @class = "AddtoCart" }) *@
                @*< a href = "@Url.Action("productEdtail", "productDetailes", new { value = Model.Contentpacks[0]  })" class="AddtoCart">BAR</a>*@



            }
        }
    </div>

    <div class="col-md-6 col-xs-6 " style="margin-top:2px;">
        @if (Model.Contentpacks != null)
        {
            if (Model.Contentpacks.Count > 0)
            {
                if (Model.Contentpacks[3].ToString() == "1")
                {
                    @*<a href="@Url.Action("productDetailes", "productHomeDetail")" ,new{PackageId=Model.Contentpacks[0]}, class="AddtoCart">
                            <span>Clients</span>
                        </a>*@


                    @:Buy&nbsp;&nbsp;&nbsp;<i class="fa fa-inr" aria-hidden="true"></i> @Model.Contentpacks[1]&nbsp;&nbsp;&nbsp;

                    if (Model.Contentpacks[4].ToString() == "yes")
                    {

                        @Html.CheckBox("Content", true, new { value = Model.Contentpacks[0], @class = "AddtoCart pack-" + Model.Contentpacks[0] })

                    }
                    else
                    {
                        @Html.CheckBox("Content", false, new { value = Model.Contentpacks[0], @class = "AddtoCart" })

                    }
                }
                else
                {
                    @:Coming Soon
                }
            }

        }
    </div>


    <div class="col-md-6 col-xs-6">
        Q & A App&nbsp;
    </div>

    <div class="col-md-6 col-xs-6 " style="margin-top:2px;">
        @if (Model.QApacks != null)
        {
            if (Model.QApacks.Count > 0)
            {
                if (Model.QApacks[3].ToString() == "1")
                {
                    @:Buy&nbsp;&nbsp;&nbsp;<i class="fa fa-inr" aria-hidden="true"></i> @Model.QApacks[1]&nbsp;&nbsp;&nbsp;

                    if (Model.QApacks[4].ToString() == "yes")
                    {
                        @Html.CheckBox("QA", true, new { value = Model.QApacks[0], @class = "AddtoCart pack-" + Model.QApacks[0] })

                    }
                    else
                    {
                        @Html.CheckBox("QA", false, new { value = Model.QApacks[0], @class = "AddtoCart" })
                    }
                }
                else
                {
                    @:Coming Soon

                }
            }

        }
    </div>


    <div class="col-md-6 col-xs-6">
        Combo Offer&nbsp;
    </div>

    <div class="col-md-6 col-xs-6" style="margin-top:2px;">
        @if (Model.Bundlepacks != null)
        {
            if (Model.Bundlepacks.Count > 0)
            {
                if (Model.Bundlepacks[3].ToString() == "1")
                {
                    @:Buy &nbsp;&nbsp;&nbsp;<i class="fa fa-inr" aria-hidden="true"></i>@Model.Bundlepacks[1]&nbsp;&nbsp;&nbsp;

                    if (Model.Bundlepacks[4].ToString() == "yes")
                    {
                        @Html.CheckBox("Bundle", true, new { value = Model.Bundlepacks[0], @class = "AddtoCart  pack-" + Model.Bundlepacks[0] })

                    }
                    else
                    {
                        @Html.CheckBox("Bundle", false, new { value = Model.Bundlepacks[0], @class = "AddtoCart" })
                    }
                }
                else
                {
                    @:Coming Soon
                        }
            }

        }
    </div>


    <hr style="margin:0px; border:1px solid #2574AB;">
    <div class="col-md-12 col-xs-12">
        <h4 style="margin-top:15px;">On Door Delivery Media</h4>
    </div>
    <div class="col-md-12 col-xs-12">
        <h5>DVD&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    : <i class="fa fa-inr"></i>&nbsp;150</h5>
    </div>
    <div class="col-md-12 col-xs-12">
        <h5>USB&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    : <i class="fa fa-inr"></i>&nbsp;450</h5>
    </div>
    <div class="col-md-12 col-xs-12">
        <h5>TABLET&nbsp;&nbsp;  : <i class="fa fa-inr"></i>&nbsp;5650</h5>
    </div>
    <div style="clear:both"></div>
</div>

<!-----keyword popup------>
<div class="modal fade" id="modelpopup" style="padding-top:70px;">
    <div class="modal-dialog modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 id="Quick" class="pop_hed" style="align-content:center">
                Quick Overview
            </h4>
            <h4 id="desc" class="pop_hed" style="align-content:center">
               Description
            </h4>
            </div>
            <div>
                <div class="modal-body clearfix row ">
                    <div class="col-sm-12" id="closediv">
                        <fieldset class="scheduler-border">
                            <div class="row ">
                                <div class="col-sm-12" id="Fixquick">
                            </div>
                            <div class="col-sm-12" id="Fixdesc">
                            </div>
                    </div>
                    </fieldset>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-5 col-md-10 " style="padding-top:10px;">
                    <input type="submit" value="Update" class="btn btn-default btnUpdate" />
                    <input type="submit" value="Clear" id="btnclear" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
</div>
<!------- popup end---->
<!-------Login popup---------->
<div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel aria-hidden=" true"" style="padding-top:50px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modelLogin">
            <form id="frmLogin">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <figure>
                        <img src="../Content/img/default.png" width="40" height="40" />
                        <figcaption>
                            <h4 class="modal-title title_clr" id="H1">User Verification</h4>
                        </figcaption>
                    </figure>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="Password" class="form-control" name="Password" id="Password" placeholder="Enter Your Login Password">
                    </div>
                    <center class="cntr_mgrn_btm">
                        <button type="button" class="btn btn-success " id="Login">Login</button>
                    </center>
                </div>
            </form>
        </div>
    </div>
</div>
<!----end-->

 
<!----------------Bind Keywords-------------------------------->

<input type="hidden" id="Keyword_db" />
<script id="BindQuick" type="text/html" style="display:none">
    <div class="col-sm-12">
        <label>
            <strong>Quick OverView</strong>
        </label>
        <div>
            <textarea placeholder="Enter Quick OverView" id="FixKeywords" class="col-sm-12">${quickoverview}</textarea>
        </div>
    </div>

</script>

<!----------------Bind Description-------------------------------->

<input type="hidden" id="Description_db" />
<script id="BindDescription" type="text/html" style="display:none">
    <div class="col-sm-12">
        <label>
            <strong>Description</strong>
        </label>
        <div>
            <textarea placeholder="Enter descriptions" id="FixlongDesc" class="col-sm-12">${Description}</textarea>
        </div>
    </div>
</script>

<script language="javascript">

    var univ_Id = 0;
    var departId = 0;
    var univ_Name = '';
    var user_ID = 0;
   
    var univ_Type = 0;

    $(document).ready(function () {
        LoadUniversityList();
        //----------------Bind dynamic user Selected University Name--------------------------------
        $('#headerText').html($('#UniversitySelected').val());
    });

    //----------------Load University List--------------------------------

    function LoadUniversityList() {
        var univCount = 0;
        $.getJSON("/APIService/APIProductHome/GetUniversityDetails",
            {
                univtype: univ_Type
            },
            function (data) {
                $.each(data, function (index, value) {

                });
            });
    }

    

    //----------------GO TO Viewmycart page to see user Purchased product--------------------------------

    $(document).on('click', '#btnCheckout', function () {
        window.location.href = '/UserViewCartDetails/ViewMyCart';
    });

    $(document).on('click', '.btnAllproducts', function () {
        window.location.href = '/Home/Index';
    });

    $(document).on('click', '.btnproductDetails', function () {
        window.location.href = '/ProductHomeDetail/ProductDetailes?PackageId=' + packageId;
    });

    //----------------GO TO Previous page--------------------------------

    $(document).on('click', '.btn_back', function () {
        var UnivSelected = $('#univId').val();
        window.location.href = '/Home/Index?UnivID=' + UnivSelected;

    });


    //------------------------------Add to Cart and Remove From cart--------------------------------

    $(document).on('click', '.AddtoCart', function () {
        var packageId = $(this).val();
        var userID = $("#sessionUserId").val();
        univ_Id = $('#univId').val();
        if ($(this).prop('checked') == true) {
            var loggedinUnivID = '@Session["loginUniversityID"]';
            if (userID == null || userID == '' || userID == 0) {
                $('#modal-login').modal('show');
                $(this).prop('checked', false);
            }
            else {
                if (loggedinUnivID == univ_Id) {
                    $.ajax({
                        url: '/APIService/APIUserDashBoard/Getinsertpackageusercarts?userId=' + userID + '&packageId=' + packageId,
                        type: "GET",
                        success: function (data) {
                            $('#modalAlert').modal('show');
                            ViewCartCount(userID);
                            bindLayoutCartDetails(userID);
                            ShowAlert({
                                title: "ADD TO CART",
                                text: data,
                                // type: "success",
                                showCancelButton: true,
                                confirmButtonColor: "#DD6B55",
                                cancelButtonColor: "#8cd4f5",
                                confirmButtonText: "View Cart",
                                cancelButtonText: "Continue Shopping",
                                closeOnConfirm: false,
                                closeOnCancel: true
                            },
function (isConfirm) {
    if (isConfirm) {
        window.location.href = '/UserViewCartDetails/ViewMyCart';
    } else {

    }
});
                        },
                        error: function () {
                            alert('failure');
                        }
                    });
                } else {
                    ShowAlert("Alert!", 'Registered University is different', "warning");
                    $(this).prop('checked', false);
                }
            }
        }
        else {

            ShowAlert({
                title: "Remove from Cart",
                text: "Are you sure want to remove this item?",
                type: "info",
                showCancelButton: true,
                closeOnConfirm: false,
                showLoaderOnConfirm: true,
            },
            function (isConfirm) {
                if (isConfirm) {
                    setTimeout(function () {

                        if (userID != 0) {
                            $.getJSON("/APIService/APIUserViewCartDetails/GetRemovePackage?userId=" + userID + "&packageID=" + packageId, function (rData) {
                                if (rData == 1) {
                                    bindLayoutCartDetails(userID);
                                    ViewCartCount(userID);
                                    $(this).prop('checked', false);
                                    ShowAlert("Deleted!", "Your item is removed from your cart.", "success");
                                }
                                else {
                                    ShowAlert("Cancelled", "Your Request is Cancelled", "error");
                                }
                            });
                        }

                    }, 2000);
                } else {
                    $('.pack-' + packageId).prop('checked', true).triggerHandler('click');
                }


            });

        }

    });

    //------------------------------Download trial Version--------------------------------
    $(document).on('click', '#trialdwnload', function () {
        var $this = $(this);
        var userID = $("#sessionUserId").val();
        univ_Id = $('#univId').val();
        if (userID == null || userID == '' || userID == 0) {
            $('#modal-login').modal('show');
        }
        else {
            var loggedinUnivID = '@Session["loginUniversityID"]';
            if (loggedinUnivID == univ_Id) {
                var pckgId = 0;
                var url = $(this).attr('rel');
                var pckgName = url.split('~')[0];
                pckgId = url.split('~')[1];

                if ($.trim(pckgName) != "No file") {


                    //$.ajax({
                    //    beforeSend: function () {
                    //        ShowAlert({
                    //            title: "Trail Dowload",
                    //            text: "Your Request is processing... ",
                    //            timer: 2000,
                    //            showConfirmButton: false
                    //        });
                    //    },
                    //    type: 'GET',
                    //    url: "/APIService/APIUserViewCartDetails/UpdateTrailPackageOnline",
                    //    dataType: 'json',
                    //    success: function (res) {
                    //        if (data == "1") {
                    window.location.href = pckgName.toString();
                    //        }
                    //        else {
                    //            ShowAlert("Alert!", 'Trial Package Not Available at Present', "warning");
                    //        }
                    //    },
                    //    complete: function () {

                    //    }
                    //});
                }
                else {

                    ShowAlert("Alert!", 'Trial Package Not Available at Present', "warning");
                    //  window.location.href = "#";
                }
            }
            else {
                ShowAlert("Alert!", 'Registered University is different', "warning");
                return false;
            }
        }
    });


    //------------------------------Download Syllabus--------------------------------

    $(document).on('click', '#idSyllabus', function () {
        var userID = $("#sessionUserId").val();
        var url = $(this).attr('rel');
        if ($.trim(url) != "No file") {
            window.location.href = url;
        }
        else {
            ShowAlert("Alert!", 'Syllabus is not available at present', "warning");
            //  window.location.href = "#";
        }
    });

    //------------------------------Check Login Authorized person while update keyword and Description --------------------------------

    $(document).on('click', '#Login', function () {
        ShowLoader();
        var GetInputPassword = $('#Password').val();
        var userID = $("#sessionUserId").val();
        $.getJSON("/APIService/APIAdminActivity/GetCheckLoginDetails_Update_Keywords_Desc",
            {
                Password: GetInputPassword,
                Sessionuserid: userID
            }, function (data) {
                if (data == "1") {
                   // ShowAlert("Keyword and Description Update", "Password Verified Sucessfully", "success");
                    update();
                }
                else if (data == "0") {
                    ShowAlert("Keyword and londDesc Update", "Password do not match", "error");
                }
            });
        HideLoader();
    });


    //------------------------------Update keyword and Description--------------------------------
    function update() {
        ShowLoader();
        var userID = $("#sessionUserId").val();
        var packageId = '@Model.Contentpacks[0]';
        var checkNochangesKeywords = $('#Keyword_db').val();
        var keywords = $('#FixKeywords').val();
        var checkNoChangesDescription = $('#Description_db').val();
        var longdesc = $('#FixlongDesc').val();
     
        if (packageId != 0) {
          $.post("/APIService/APIAdminActivity/Update_keyword_longDesc_productdetails",
                     {
                         Sessionuserid: userID,
                         packageid: packageId,
                         //packagedisplayname: packageId,
                         PreviousKeywords:checkNochangesKeywords,
                         CurrentKeywords: keywords,
                         PreviousDescription: checkNoChangesDescription,
                         CurrentDescription: longdesc
                     }, function (data) {
                         if (data == "1") {
                             ShowAlert("Update Quick Overview and Description", "Updated Sucessfully", "success");
                             $('#modal-login').modal('hide');
                             $('#modelpopup').modal('hide');
                             location.reload();
                         }
                         else if (data == "-3") {
                             ShowAlert("Update Keyword and londDesc", "There is no updation", "error");
                         }
                         else if (data == "-1") {
                             ShowAlert("Update Keyword and londDesc", "Error While Processing", "error");
                         }
                        
                     });
        }
        HideLoader();
    }


    

//----------------check if there is any changes required or not after that if changes required then Open Login Popup for Update keyword and Description--------------------------------

    $(document).on('click', '.btnUpdate', function () {
        ShowLoader();
        var checkNochangesKeywords = $('#Keyword_db').val();

        var keywords = $('#FixKeywords').val();

        var checkNoChangesDescription = $('#Description_db').val();

        var longdesc = $('#FixlongDesc').val();
        longdesc = typeof (longdesc) === "undefined" ? "___" : longdesc;
        keywords = typeof (keywords) === "undefined" ? "___" : keywords;
        
        ShowAlert({
            title:"Update",
            text: "Are you sure want to Update this text?",
            showCancelButton: true,
            //confirmButtonColor: "#DD6B55",
            //cancelButtonColor: "#8cd4f5",
            confirmButtonText: "OK",
            closeOnConfirm: true,
            closeOnCancel: true
        },
          function (isConfirm) {
              if (isConfirm) {
                  setTimeout(function () {

                      if (keywords != "___" && checkNochangesKeywords != keywords) {
                          if (keywords == "") {
                              ShowAlert("Keyword and londDesc Update", "Quick Overview Should Not be Empty", "warning");
                          }
                          else {
                              $('#Password').val('');
                              $('#modal-login').modal('show');
                              return;
                          }
                      }
                      else if (longdesc != "___" && checkNoChangesDescription != longdesc) {
                              if (longdesc == "") {
                                  ShowAlert("Keyword and londDesc Update", "Description Should Not be Empty", "warning");

                              }
                              else {
                                  $('#Password').val('');
                                  $('#modal-login').modal('show');
                                  return;
                              }
                          }
                          else {
                              ShowAlert("Update  longdesc", "There is no changes", "error");
                              return false;
                          }
                  }, 2000);
              }
              else {
                  ShowAlert("Keyword and londDesc Update", "There is no package", "warning");
              }

          });
        HideLoader();
    });

 
    //----------------Edit keyword--------------------------------

    $(document).on('click', '#Editkeywords', function () {
        ShowLoader();
        $('#Fixquick').empty('');
        $('#Fixquick').show();
        $('#Fixdesc').hide();
        $('#desc').hide();

        var packageId = '@Model.Contentpacks[0]';
        $.getJSON("/APIService/APIAdminActivity/GetBindkewords_longDesc_productdetails",
            {
                packageid: packageId
                //checkisbundle: checkisbundle
            }, function (data) {
                $.each(data, function (index, value) {
                    $('#Quick').show();
                    $('#Description_db').val(value.Description);
                    $('#Keyword_db').val(value.quickoverview);
                    $('#FixKeywords').val(value.quickoverview);
                    $('#FixlongDesc').val(value.Description);
                    $("#BindQuick").tmpl(value).appendTo("#Fixquick");
                });
            });
        HideLoader();
    });


    //----------------Edit Description--------------------------------

    $(document).on('click', '#EditDesc', function () {
        ShowLoader();
        $('#Fixquick').hide();
        $('#Fixdesc').empty('');
        $('#Fixdesc').show();
        $('#Quick').hide();

        var packageId ='@Model.Contentpacks[0]';

        $.getJSON("/APIService/APIAdminActivity/GetBindkewords_longDesc_productdetails",
            {
                packageid: packageId
                //checkisbundle: checkisbundle
            }, function (data) {
                $.each(data, function (index, value) {
                    $('#desc').show();
                    $('#Keyword_db').val(value.quickoverview);
                    $('#Description_db').val(value.Description);
                    $('#FixKeywords').val(value.quickoverview);
                    $('#FixlongDesc').val(value.Description);
                    $("#BindDescription").tmpl(value).appendTo("#Fixdesc");
                });
            });
        HideLoader();
    });

    //----------------Clear Both keyword and Description--------------------------------

    $(document).on('click', '#btnclear', function () {
        ShowLoader();
        $('#FixKeywords').val('');
        $('#FixlongDesc').val('');
        HideLoader();
    });

</script>





